:root {
  --primary-color: #e0c521;
}

.btn {
  color: #fff;
  padding: 1rem 0.8rem;
  font-size: 30px;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 120px;
  box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn.add {
  background-color: var(--primary-color);
  &:hover {
    background-color: #cab320;
  }
  &:active {
    background-color: #ad9a1c;
  }
}

.btn.remove {
  background-color: tomato;
  &:hover {
    background-color: rgb(209, 83, 61);
  }
  &:active {
    background-color: rgb(185, 73, 54);
  }
}

.btn.checkout {
  background-color: #47bb77c6;
  width: 150px;
  font-size: 16px;
  &:hover {
    background-color: #47bb78;
  }
  &:active {
    background-color: rgb(30, 93, 41);
  }
}

.btn.disabled {
  opacity: 0.5;
}